.formItem{
    display: flex;
    flex-direction: column;
    margin: 6% 0;
}
.input{
    background-color: #f0f1f3;
    border: none;
    width: 100%;
    padding: 2% 3%;
    
}
.label{
    font-weight: 500;
    font-size: large;
}
.reset{
    text-align: right;
}
.resetbtn{
    color: #7d7d7d;
    background-color: white;
    border: none;
}