@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

body {
  margin: 0%;
  padding: 0%;
}

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.medd {
  max-width: 30%;
}
.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.uploadIcon {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #7cc1f9;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #7cc1f9;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #7cc1f9;
}

.chatContainer {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  place-items: center;
  background-color: white;
  position: relative;
  align-items: center;
  justify-content: center;
}
.dir {
  text-align: end;
}
.chat-window {
  width: 98%;
  height: 98%;
  border: #7cc1f9 solid 1px;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}
.bob {
  background-color: #212121;
}
.chat-window .chat-header {
  margin: 1% 1%;
  height: 5%;
  text-align: right;
  background-color: white;
  width: 100%;
}

.chat-body {
  height: 80%;
  background: #fff;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  width: 5px;
}

.emo {
  position: absolute;
  bottom: 10%;
  left: 0;
}

.upload {
  width: 8%;
  height: 10%;
}

.upload label {
  cursor: pointer;
}

/* Track */
.chat-window .chat-body .message-container::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
.chat-window .chat-body .message-container::-webkit-scrollbar-thumb {
  background: #7cc1f9;
}

/* Handle on hover */
.chat-window .chat-body .message-container::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.handel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.handel span {
  color: white;
}

.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}
.chat-window .chat-body .message2 {
  height: auto;
  padding: 10px;
  display: flex;
}
.chat-footer-child {
  background-color: #bad8f0;
  width: 73%;
  margin: 1% 3% 1% 15%;
  display: flex;
  align-items: center;

  justify-content: center;
}
.replayUser {
  color: #ffffff;
  font-weight: bold;
}
.replayInfo {
  margin-top: -15px;
  flex-direction: column;
  width: 97%;
  height: 30px;
  justify-content: center;
}
.replayMess {
  background-color: #bad8f0;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  min-width: 20px;
  max-width: 200px;
  overflow: hidden;
}
.replayMess p {
  margin-top: 0;
  width: fit-content;
  margin-bottom: 0;
  overflow: hidden;
  padding-bottom: 10px;
  max-height: 40px;
  padding: 5px;
}

.chat-footer2 {
  border: none;
  margin-bottom: -50px;
  transition: 2.5s ease-in-out;
}
.boxLine {
  margin-right: 5px;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 7px 0px 0px 7px;
}

.replayText {
  max-width: 90%;
  margin-top: -15px;
  color: gray;
  overflow: hidden;
}

.replayText img {
  margin-left: 10px;
}

.exit {
  cursor: pointer;
  margin-right: 5%;
}
.car {
  border: none;
  background-color: red;
}
.car:hover {
  border: none;
  background-color: red;
}

.car:focus {
  border: none;
  background-color: red;
}
.new {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-right: 20px;
  margin-top: 0;
}
.dropdown {
  background-color: transparent;
}
.dropdown button {
  background-color: transparent;
  border: none;
}
.menu {
  position: absolute;
  right: 15px;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  box-shadow: 0 2px 5px #bebebe;
  z-index: 100;
  width: 150px;
}

#other .menu {
  right: -129px;
}
.menu > li {
  margin: 0;

  background-color: white;
}

.menu > li:hover {
  background-color: rgb(235, 235, 235);
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: #7cc1f9;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.neww {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
}
hr {
  flex: 1;
  color: #7cc1f9;
}
.newText {
  color: #7cc1f9;
  margin: 2%;
  font-size: 15px;
}
.ico {
  width: 15px;
  margin-top: 30%;
  padding-left: 20%;
  cursor: pointer;
}
.chat-window .chat-body .message .message-content {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  min-width: 20%;
  background-color: #7cc1f9;
  border-radius: 5px;
  color: white;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 18px;
  align-items: start;
  padding-top: 5%;
  position: relative;
}
.chat-window .chat-body .message2 .message-content {
  width: fit-content;
  height: auto;
  min-height: 30px;
  display: flex;
  min-width: 20%;
  background-color: #7cc1f9;
  border: 1px solid #7cc1f9;
  border-radius: 5px;
  color: white;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 18px;
}
#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
  background-color: #ebe8e8;
  color: #1f1f1f;
}

#other .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#you {
  justify-content: flex-end;
  font-weight: 700;
}

#you .message-content {
  justify-content: flex-end;
  background-color: #5db1f5;
}

#you .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}
.auth {
  width: 100%;
  font-size: 10px;
  color: rgb(180, 180, 180);
}
.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}
.chat-window .chat-body .message2 .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  border: none;
  display: flex;
  background-color: #7cc1f9;
  align-items: center;
}
.chat-window .chat-footer2 {
  top: 0px;
  padding: 1%;
  position: absolute;
  display: flex;
  width: 100%;
  height: 95%;
  border: none;
  background-color: #7cc1f9;
  align-items: center;
  transition: 2s;
  z-index: -100;
}
.chat-window .chat-footer3 {
  margin: 5px 0;
  display: flex;
  width: 100%;
  background-color: #7cc1f9;
  align-items: center;
  transition: 0.4s ease-in-out;
}

.chat-body2 {
  height: 70%;
  background: #fff;
  position: relative;
}

.chat-footer3 img {
  width: 2%;
}

.fotterBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rec {
  margin-left: 7.5%;
  margin-right: 2.5%;
}
.sendIcon {
  width: 20px;
}
.audioReco {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.remove {
  width: 22px;
  cursor: pointer;
}
.removeBOx {
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
  align-items: center;
  transition: all 0.2s ease-in;
  margin-left: 2.5%;
  margin-right: 2.5%;
  box-shadow: 0 2px 5px #bebebe;
}
.audio1::-webkit-media-controls-panel {
  background-color: #ebe8e8;
}

.audio2::-webkit-media-controls-panel {
  background-color: #7cc1f9;
}
.im3 {
  width: 20px;
}
.imBox {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 1px;
}
.buttons {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
  margin-left: 2%;
  margin-right: 0;
}
audio {
  margin-top: 10px;
  margin-bottom: 10px;

  height: 50px;
}
audio::-webkit-media-controls-enclosure {
  border-radius: 5px;
}
.ico {
  width: 40px;
  margin: 0;
}
.images {
  width: 100%;
}
.logout {
  width: 50%;
}
.imageBody {
  width: 400px;
}
.chat-window .chat-footer input {
  height: 100%;
  width: 100%;
  flex: 85%;
  border: 0;
  padding: 12px 0.7em;
  font-size: 1em;
}
.chat-window .chat-footer2 input {
  height: 100%;
  flex: 85%;
  border: none;
  padding: 0 0.7em;
  font-size: 1em;
}
.file-input {
  visibility: hidden;
  width: 0%;
  background-color: red;
  padding: 0;
}
.chat-window .chat-footer2 input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
}
.chat-window .chat-footer img {
  color: #7cc1f9;
}

.chat-window .chat-footer button {
  border: none;
  background: transparent;
  color: lightgray;
  padding: 0;
  margin: 0;
}

.chat-header button {
  border: none;
  background: transparent;
  color: lightgray;
}
.chat-window .chat-footer button:hover {
  color: #7cc1f9;
}

.hide {
  opacity: 0 !important;
}

.chat-window2 {
  height: 65%;
}
#other .rhap_container *:focuse {
  background-color: #ebe8e8;
}
.rhap_container *:focuse {
  box-shadow: none;
  color: white !important;

  background-color: #5db1f5;
}

#other .rhap_container *:focuse {
  background-color: #ebe8e8 !important;
}
.rhap_current-time {
  color: white !important;
}
.aud p {
  margin-bottom: 0;
  font-size: small;
}
.rhap_container {
  background-color: #5db1f5 !important;
  box-shadow: none !important;
  height: 54px !important;
  width: 300px !important;
  color: white !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  width: 100%;
}
#other .rhap_container {
  background-color: #ebe8e8 !important;
}
.rhap_total-time {
  color: white !important;
}
.rhap_progress-container {
  margin-right: 15px !important;
}
.rhap_controls-section {
  margin-left: -25px !important;
}

.rhap_progress-filled {
  background-color: #ffffff !important;
}
.rhap_progress-indicator {
  background-color: rgb(255, 255, 255) !important;
  margin-right: 1% !important;
}
.rhap_volume-button,
.rhap_main-controls-button,
.rhap_repeat-button {
  color: rgb(255, 255, 255) !important;
}
.rhap_progress-section {
  margin-left: -30px !important;
}
.download-btn {
  background-color: #5db1f5;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.cr {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}
.img-size {
  width: 100%;
}

@media (max-width: 780px) {
  .buttons {
    width: 20%;
  }
}
#other .handel span {
  color: #4d4d4d;
}
#other .replayMess {
  background-color: #d9d9d9;
}
.replayMess {
  min-width: 100%;
}
