.community{
    margin: 5%;
    width: 100%;
}

.bar{
    align-items: center;
}

.bar input{
    background-color: #f0f1f3;
    border: none;
    margin-bottom: 2%;
    margin-right: 2%;
    width: 70%;
    height: 35px;
    padding: 20px;
}

.save-btn{
    background-color: #7cc1f9;
    color: white;
    border: none;
    width: 10%;
    height: 40px;
}

p {
    color: rgb(125, 125, 125);
}

@media (max-width: 1100px) {
    .save-btn{
        width: 20%;
    }
}