.btn {
  padding: 15px;
  background-color: white;
  width: 100%;
  border-radius: 30px;
  border-color: #7cc1f9;
  color: #7cc1f9;
  font-size: large;
  margin-bottom: 5%;
}
.btnone {
  background-color: #7cc1f9;
  padding: 15px;
  width: 100%;
  border-radius: 30px;
  margin: 0;
  border: none;
  color: white;
  font-size: large;
}
.buttons {
  margin-top: 5%;
}
