.modal{
    text-align: center;
}
.modal-img{
    width: 10%;
}
.paragraph {
    color: #7d7d7d;
    font-size: medium;
}

.input{
    background-color: #f0f1f3;
    border: none;
    width: 100%;
    padding: 2% 3%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.cancel {
    width: 45%;
    background-color: white;
    color: #7cc1f9;
    padding: 2%;
    margin-right: 5%;
    border: none;
    font-size: large;
}

.choose {
    width: 45%;
    padding: 2%;
    background-color: #7cc1f9;
    color: white;
    border: none;
    font-size: large;
}

.body-modal{
    padding: 10%;
}

.end-number{
    color: #7cc1f9;
    margin-bottom:15% ;
}


.done {
    width: 92%;
    background-color: #7cc1f9;
    color: white;
    border: none;
    font-size: large;
    padding: 3%;
    border-radius: 15px;
}


.calendar-container{
    text-align: center;

}

.react-calendar {
    width: 100% !important;
    background-color: #fff;
    border: none !important;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    padding: 5% !important;
}

.react-calendar__navigation button {
    color: gray;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
}
.react-calendar__month-view__days__day{
    border: 0.00000001rem rgb(233, 231, 231) solid !important;
}
.react-calendar__navigation__next2-button, .react-calendar__navigation__prev2-button{
    display: none !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa !important;
}

.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}

abbr[title] {
    text-decoration: none;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    /* color: #7cc1f9 !important; */
}



.react-calendar__tile--now{
    background:#7cc1f9 !important; 
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa !important;
}

.react-calendar__tile--active{
    background-color: #7cc1f9 !important;
}

.react-calendar__month-view__days__day--weekend{
    color: black !important;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #7cc1f9 !important;
    color: white !important;
}



.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa !important;
}

.react-calendar__tile--range {
    background: #f8f8fa;
    /* color: #7cc1f9 !important; */
    border-radius: 0;
}

.react-calendar__tile--rangeStart {
    color: white;
}

.react-calendar__tile--rangeEnd {
    /* background: #7cc1f9 !important; */
    color: white;
}