h1,
p {
  font-family: Lato;
}

.audio-recorder-svg-color {
  filter: invert(70%) sepia(10%) saturate(2061%) hue-rotate(178deg)
    brightness(98%) contrast(114%);
}
.audioRecord {
  background-color: white;
}

.up .modal-dialog {
  position: absolute !important;
  bottom: 0 !important;
  width: 40% !important;
  left: 20px !important;
}
@media (max-width: 1200px) {
  .up .modal-dialog {
    width: 90% !important;
  }
}

.up .modal-footer {
  margin: 0 !important;
  padding: 1% !important;
  height: 10% !important;
  width: 100% !important;
  border: none !important;
  display: flex !important;
  flex-direction: row !important;
  background-color: #7cc1f9 !important;
  align-items: center !important;
}
.up .modal-footer .chat-footer .buttons button {
  background-color: transparent !important;
  border: none !important;
  margin-right: 0 !important;
  margin-left: -30% !important;
}

.up .modal-footer .chat-footer .buttons button img {
  width: 25px !important;
}
.up .modal-footer input {
  background-color: white !important;
  border: none !important;
  width: 90% !important;
  padding: 2% !important;
}
.up .modal-footer .chat-footer {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.up .modal-footer .chat-footer button {
  border: 1px solid white !important;
  border-radius: 50% !important;
  margin-left: 0 !important;
  margin-right: 5% !important;
}
.up .modal-body img {
  width: 100% !important;
  max-height: 300px !important;
}
video {
  width: 100% !important;
}
.up .modal-body video {
  width: 100% !important;
  max-height: 300px !important;
}

::-webkit-scrollbar {
  background: #7cc1f9;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #7cc1f9;
}
/* Handle */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7cc1f9;
}

.download-btn {
  color: white;
}
#other .download-btn {
  background-color: #c5c5c5;
}
#other rhap_progress-filled {
  background-color: black;
}
.toast {
  position: absolute;
  right: 1000;
  top: 0;
  z-index: 100;
}
.toast-body {
  background-color: #7cc1f9;
  color: #ffffff;
  font-weight: bold;
}
.Reset_first__QUECv {
  padding: 10%;
}
